<!DOCTYPE html>
<html lang="en">

<head>

<body>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>register</title>
    <body>
    <head>
        <form action=/ class="register">
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="/images/logo-mercado-liebre.svg" class="logo">
                <button class="barra-de-busqueda"> <input type="text" placeholder=" Busqueda" name="search"><i
                        class="fa fa-search" style="font-size: 18px;"></i>
                </button>
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
    
            <a href="#" class="hamburger-button">
                <i class="fa-solid fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="left'navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
    
    
                <ul class="right navbar">
                    <li><a href="http://localhost:3000/register">Crea tu cuenta<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="http://localhost:3000/login">Ingresa<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </header>
        <br>
        <div>
            <label for="Nombre y apellido">Nombre y apellido</label>
            <input type="text" placeholder="Nombre y apellido">
        </div>
        <br>
        <div>
            <label for="Nombre de usuari@">Nombre de usuari@</label>
            <input type="text" placeholder="Nombre de usuari@">
        </div>
        <br>
        <div>
            <label for="Fecha de nacimiento">Fecha de nacimiento</label>
            <input type="date">
        </div>
        <br>
        <div>
            <label for="Domicilio">Domicilio</label>
            <input type="text" placeholder="Domicilio">
        </div>
        <br>
        <div>
            <label for="Perfil del usuario">Perfil del usuario</label>
            <input type="text" placeholder="Perfil del usuario">
        </div>
        <br>
        <div>
            <label for="Categorías de interés">Categorías de interés:</label>
            <select>
                <option value="Electro">Electro</option>
                <option value="Moda">Moda</option>
                <option value="Hogar">Hogar</option>
                <option value="Juguetería">Juguetería</option>
                <option value="Vida sana">Vida sana</option>
            </select>
        </div>
        <br>
        <div>
            <label for="foto de usuario">foto de usuario</label>
            <input type="file" name="Avatar" accept="jp.,png" placeholder="foto de usuario">
        </div>
        <br>
        <div>
            <label for="contraseña">contraseña</label>
            <input type="password" placeholder="contraseña">
        </div>
        <br>
        <div>
            <label for="Confirmar contraseña">Confirmar contraseña</label>
            <input type="password" placeholder="Confirmar contraseña">
            <br>
        </div>
        <br>
        <div>
            <a href="views/home.html">  <button type="submit" class="submit">  Enviar </button>  </a>
        </div>
        <br>
        <div>
            <button> <a href="http://localhost:3080/register">borrar todos los datos del formulario</a></button>
        </div>
        <br>
        </div>
        <br>
    </form>
</body>
<footer class="footer">
    <section>
        <i class="fa-solid fa-credit-card"></i>
        <h4 class="pago"> Pagá con tarjeta o en efectivo</h4>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
    </section>
    <section>
        <i class="fa-solid fa-gift"></i>
        <h4 class="envio">Envío gratis desde $ 2.500</h4>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
    </section>
    <section>
        <i class="fa-solid fa-shield-halved"></i>
        <div class="seguridad">Seguridad, de principio a fin</div>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
    </section>
    <section>Copyright © 1999-2020 MercadoLiebre S.R.L.</section>
</footer>
</head>

</html>